<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="TVInteractionDashboard.styles.css" />
    <link rel="icon" type="image/png" href="WDIcon.png" />
    <link rel="stylesheet" href="_content/Telerik.UI.for.Blazor/css/kendo-theme-default/all.css" />
    <script src="_content/Telerik.UI.for.Blazor/js/telerik-blazor.js"></script>

    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js" autostart="false"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            Blazor.start();
        });
    </script>

    <!-- These libraries are delivered through LibMan in the project -->
    <script src="lib/progress/kendo-file-saver/dist/cdn/js/kendo-file-saver.js"></script>
    <script src="lib/progress/kendo-drawing/dist/cdn/js/kendo-drawing.js"></script>
    <script src="lib/pako/dist/pako.js"></script>

    <!-- telerikInterop.js exposes the Kendo API to Blazor -->
    <script src="telerikInterop.js"></script>

</body>

</html>
