@using TVInteractionDashboard.Data
@inject TVInteractionContext _context
@using Telerik.Blazor.Components
@using Microsoft.EntityFrameworkCore
@using System.Globalization
@using PdfExportJS.Services
@inject DrawingService DrawingService

<div class="export-wrapper">
    <button class="menu-icon" @onclick="ToggleMenu">⋮</button>
    @if (showMenu)
    {
        <div class="export-dropdown">
            <button class="dropdown-item" @onclick="ExportAsJPG">📸 Export as JPG</button>
            <button class="dropdown-item" @onclick="ExportAsPNG">🖼️ Export as PNG</button>
        </div>
    }
</div>

@code {
    [Parameter] public ElementReference TargetElement { get; set; }
    private bool showMenu = false;

    private void ToggleMenu() => showMenu = !showMenu;

    private async Task ExportAsJPG()
    {
        showMenu = false;
        var data = await DrawingService.ExportImage(TargetElement);
        await DrawingService.SaveAs(data, $"chart-{DateTime.Now}.jpg");
    }

    private async Task ExportAsPNG()
    {
        showMenu = false;
        var data = await DrawingService.ExportImage(TargetElement);
        await DrawingService.SaveAs(data, $"chart-{DateTime.Now}.png");
    }
}
