@using TVInteractionDashboard.Data
@inject TVInteractionContext _context
@using Telerik.Blazor.Components
@using Microsoft.EntityFrameworkCore
@using System.Globalization
@using PdfExportJS.Services
@inject DrawingService DrawingService

<div class="export-menu">
    <button class="menu-btn" @onclick="ToggleMenu">⋮</button>
    @if (showMenu)
    {
        <div class="menu-options">
            <button @onclick="ExportAsJPG">Export as JPG</button>
        </div>
    }
</div>

@code {
    [Parameter] public ElementReference TargetElement { get; set; }
    private bool showMenu = false;

    private void ToggleMenu() => showMenu = !showMenu;

    private async Task ExportAsJPG()
    {
        showMenu = false;
        var data = await DrawingService.ExportImage(TargetElement);
        await DrawingService.SaveAs(data, $"chart-export-{DateTime.Now.Ticks}.jpg");
    }
}
