<div class="top-row d-flex justify-content-center align-items-center py-3">
    <img id="wdLogo" src="https://prdmplitsolwebapi.ad.shared/WDLogoService/Logo/GetResizedLogo/400x400/WDCLogo_Primary_ColorRev.svg" style="width:150px;" onerror="this.style.display='none'" alt="WD Logo">
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                📊 Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/logs" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> 📋Interaction Logs
            </NavLink>
        </div>

    </nav>
</div>